<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daehanins.mes.biz.adm.mapper.SysLogJobMapper">

    <insert id="insertLogJob" parameterType="com.daehanins.mes.biz.adm.entity.SysLogJob">
        insert into sys_log_job (
            log_job_id,
            work_time,
            log_data_cnt,
            reg_id,
            reg_time,
            upd_id,
            upd_time
        ) values (
            #{logJobId},
            #{workTime},
            #{logDataCnt},
            'sys',
            GETDATE(),
            'sys',
            GETDATE()
        )
    </insert>
</mapper>
