<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daehanins.mes.biz.work.mapper.WorkOrderMapper">

    <select id="getNextSeq" resultType="Integer">
        SELECT isnull(max(ser_no),0) + 1
        FROM work_order
        WHERE order_date = #{work_Date};
    </select>

</mapper>
